/* reset */

body,p,a,ul,li {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
}

/* fonts */

h1, h2, h3, a {
	font-family: 'Noto Sans JP', sans-serif;
}

/* base styles */

.header {
	display: grid;
	grid-template-columns:1fr, 1fr, 1fr;
	padding-top: 20px;
	padding-bottom: 20px;
}
#logo{
	width: 150px;
	grid-column: 1;
}
#avatar{
	width: 30px;
	grid-column: 2;
	padding: 10px;
	margin-top: 10px;
}
#settings{
	width: 30px;
	grid-column: 3;
	padding: 10px;
	margin-top: 10px;
}
.where, .countdown, .speed, .gravity, .gforce, .air, .mood, .food{
	border-radius: 10px;
    margin: auto;
    width: 80%;
    margin-bottom: 30px;
    padding: 10px;
    background: #ffffff;
    box-shadow:  11px 11px 22px #d6d6d6,
             -11px -11px 22px #ffffff;
    border: 2px solid #e7e7e7;
}
#map {
	width: 100%;
}
button {
	margin: 10px;
    width: 90%;
    border-radius: 8px;
    background-color: #064E88;
    border: none;
    padding: 10px 24px;
    transition-duration: 0.4s;
    font-size: 15px;
}
button:hover {
  background-color: white; /* Green */
  color: black;
  border: 2px solid black;
}
a {
	color: white;
}
a:hover {
	color: black;
}
  #chart_div {
	width: 325px;
  }
#cd, #donut_single {
	margin: 10px;
    width: 90%;
}
#cd {
   	margin: auto;
  	padding-left: 40px;
   }
h2 {
	margin-top: 5px;
}
h1 {
	color: #004f7e;
}


/* tablet styles */

@media screen and (min-width:620px){
  .header {
	display: grid;
	grid-template-columns:1fr, 1fr, 1fr, 1fr, 1fr;
	   padding-left: 30px;
   }
  #logo{
	width: 200px;
  }
  #avatar{
	grid-column: 4;
  }
  #settings{
	grid-column: 5;
  }

  .speed, .gravity, .gforce{
   width: 25%;
   height: 175px;
   }
   .small {
   	display: flex;
   	width: 88%;
   	margin: auto;
   }
   button {
   	 font-size: 20px;
   }
  #cd {
   	margin: auto;
   	padding-bottom: 20px;
   	padding-top: 20px;
   	padding-left: 100px;
   	width: 300px;
   }
   #piechart, #donut_single {
   	width: 90%;
   }
   .countdown {
   	display: flex;
   }
     #chart_div {
	width: 425px;
  }
}

/* laptop styles */

@media screen and (min-width:1000px){
   .header {
   padding-left: 50px;
   }
   #avatar {
   	padding-left: 75px;
   }
   .medium {
   	width: 90%;
   	display: flex;
   	margin: auto;
   }
    .air, .mood {
   	height: 300px;
   	margin: 30px;
   }
   button {
   	width:50%;
   }
}

/* Large screen styles */

@media screen and (min-width:1200px){
    .header {
	padding-left: 90px;
	}
	#avatar {
		padding-left: 300px;
		width: 40px;
	}
	#logo{
	 width: 200px;
	 grid-column: 1;
    }

    #settings{
	 width: 40px;
	}
	.speed, .gravity, .gforce{
     width: 200px;
     padding: 40px;
    }
    button {
   	width:30%;
   }
}

